In [5]:
numbers = [14,786,7]
print(numbers)
numbers.append(500)
print(numbers)
numbers.append([100,100])
print(numbers)
print(numbers[-1])

print('extend')
numbers.extend([500])
print(numbers)
numbers.extend([999,888,777])
print(numbers)

[14, 786, 7]
[14, 786, 7, 500]
[14, 786, 7, 500, [100, 100]]
[100, 100]
extend
[14, 786, 7, 500, [100, 100], 500]
[14, 786, 7, 500, [100, 100], 500, 999, 888, 777]

In [11]:
numbers.insert(1,1000)
print(numbers)

[14, 1000, 786, 7, 500, [100, 100], 500, 999, 888, 777]

In [17]:
numbers.remove([100,100])

numbers.sort()
print(numbers)

ValueError: list.remove(x): x not in list

In [18]:
nums = [562,4,778,2]
print(sorted(nums))
print(nums)

[2, 4, 562, 778]
[562, 4, 778, 2]

In [38]:
#task print 65 from this list

nested_list = [654,[[[48,[['65']]],57]]]
print(nested_list)
print(len(nested_list))
print(nested_list[1])
print(len(nested_list[1]))
print(nested_list[1][0])
print(len(nested_list[1][0]))
print(nested_list[1][0][0])
print(nested_list[1][0][0][1])
print(nested_list[1][0][0][1][0])
print(nested_list[1][0][0][1][0][0])

[654, [[[48, [['65']]], 57]]]
2
[[[48, [['65']]], 57]]
1
[[48, [['65']]], 57]
2
[48, [['65']]]
[['65']]
['65']
65

In [34]:
print(numbers)
print(numbers[::2])

[7, 14, 500, 500, 777, 786, 888, 999, 1000]
[7, 500, 777, 888, 1000]

In [39]:
numbers

[7, 14, 500, 500, 777, 786, 888, 999, 1000]

In [40]:
14 in numbers

True

In [42]:
print (bool([])) #empty will be false, otherwise true
print (bool(['a']))

False
True

##Operators with list

In [44]:
print([1,2,3] + ['a', 'b','c'])
print([1,2,3]*10)
print([1,2,3]-[1,2]) #error

[1, 2, 3, 'a', 'b', 'c']
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [58]:
#tasks
#declare lsit type variable, get its length, add a new element
numbers = [14,786,7]
print(numbers)
numbers.append(500)
print(numbers)
print(len(numbers))

#check if the items is on your list with "in" 
bool_1 = 14 in numbers
print(bool_1)
5 in numbers

#add two lists, remove the last member from your list, sort the list, count how many entries there are in the list
numbers.append(10)
print(numbers)
numbers.append(17)
print(numbers)

[14, 786, 7]
[14, 786, 7, 500]
4
True
[14, 786, 7, 500, 10]
[14, 786, 7, 500, 10, 17]

In [59]:
combined = [1,2,3]+[5,6,7]
print(combined)
combined.pop()
print(combined)
combined.sort()
print(combined)
print(combined.count(1))

[1, 2, 3, 5, 6, 7]
[1, 2, 3, 5, 6]
[1, 2, 3, 5, 6]
1

In [63]:
#mutable and imutable variables

#imutable variable
a = 1
b = a
print('before')
print(id(a))
print(id(b))
b+=5
print('after')
print(id(a))
print(id(b))
print(a)
print(b)

before
140733931647784
140733931647784
after
140733931647784
140733931647944
1
6

In [64]:
#mutable variable
a = [1,2,3]
b = a
print('before')
print(id(a))
print(id(b))
b.append(999)
print('after')
print(id(a))
print(id(b))
print(a)
print(b)

before
2293244944448
2293244944448
after
2293244944448
2293244944448
[1, 2, 3, 999]
[1, 2, 3, 999]

In [65]:
#fixing mutable viariable 1
a = [1,2,3]
b = a.copy()
print('before')
print(id(a))
print(id(b))
b.append(999)
print('after')
print(id(a))
print(id(b))
print(a)
print(b)

before
2293245211200
2293245205312
after
2293245211200
2293245205312
[1, 2, 3]
[1, 2, 3, 999]

In [67]:
a = [1,2,['a','b']]
b = a.copy()
print('before')
print(id(a))
print(id(b))
b[-1].append(999)
b.append(999)
print('after')
print(id(a))
print(id(b))
print(a)
print(b)

before
2293245030080
2293245024128
after
2293245030080
2293245024128
[1, 2, ['a', 'b', 999]]
[1, 2, ['a', 'b', 999], 999]

In [69]:
#fixing mutable viariable 2
import copy
a = [1,2,['a','b']]
b = copy.deepcopy(a)
print('before')
print(id(a))
print(id(b))
b[-1].append(999)
b.append(999)
print('after')
print(id(a))
print(id(b))
print(a)
print(b)

before
2293245267328
2293245269568
after
2293245267328
2293245269568
[1, 2, ['a', 'b']]
[1, 2, ['a', 'b', 999], 999]

In [71]:
#tuple declaration

my_tuple = (1,2,True,'a')
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
(1, 2, True, 'a')

In [74]:
print(my_tuple[0])
print(my_tuple[-1])
print(my_tuple[1:3])

1
a
(2, True)

In [77]:
my_list_2 = [1,2]
print(my_list_2)
my_list_2[0] = 100
print(my_list_2)
print('tuple')
print(my_tuple)
my_tuple[0] = 100 #does not work like that
print(my_tuple)

[1, 2]
[100, 2]
tuple
(1, 2, True, 'a')

TypeError: 'tuple' object does not support item assignment

In [78]:
my_tuple + (5,55)

(1, 2, True, 'a', 5, 55)

In [79]:
my_tuple * 3

(1, 2, True, 'a', 1, 2, True, 'a', 1, 2, True, 'a')

In [83]:
print(my_tuple.count(2))
print(my_tuple.index('a'))

1
3

In [86]:
print(len(my_tuple))
print(2 in my_tuple)
print(100 in my_tuple)

4
True
False

In [87]:
print(list(my_tuple))
print(tuple(list(my_tuple)))

[1, 2, True, 'a']
(1, 2, True, 'a')

In [117]:
#task
#get value 8 on the screen
my_tuple = (1,2,['3',4,5],6,[7,(8)])
print(my_tuple)
print(len(my_tuple))
print(my_tuple[-1])
print(len(my_tuple[-1]))
print(my_tuple[-1][-1])

#replace values 1
tuple1 = (11,[222,33],44,55)
tmplist = list(tuple1)
print(tmplist)
tmplist[1][1] = 22
print(tmplist)
tuple1 = tuple(tmplist)
print(tuple1)

#replace values 2
tuple1 = (11,[222,33],44,55)
tuple1[1][1] = 22 #perraso, nes list
print(tuple1)

#comboned tuple
combined_tuple = (1,2,3)+(8, 5, 1)
print(combined_tuple)
tmp_list = list(combined_tuple)
print(tmp_list)
tmp_list.pop()
print(tmp_list)
combined_tuple = tuple(tmp_list)
print (combined_tuple)
print(sorted(combined_tuple))
print (combined_tuple.count(5))
print(sorted(combined_tuple)[-1])
print(max(combined_tuple))

(1, 2, ['3', 4, 5], 6, [7, 8])
5
[7, 8]
2
8
[11, [222, 33], 44, 55]
[11, [222, 22], 44, 55]
(11, [222, 22], 44, 55)
(11, [222, 22], 44, 55)
(1, 2, 3, 8, 5, 1)
[1, 2, 3, 8, 5, 1]
[1, 2, 3, 8, 5]
(1, 2, 3, 8, 5)
[1, 2, 3, 5, 8]
1
8
8

In [122]:
#range
print(range(10))
print(type(range(10)))
print(list(range(10)))
print(list(range(-4,10)))
print(list(range(-4,10,3)))

range(0, 10)
<class 'range'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[-4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[-4, -1, 2, 5, 8]

In [124]:
#loop, for loop
cities = ['Vilnius','Kaunas','London']

for city in cities:
    print(city)

Vilnius
Kaunas
London

In [126]:
for city in cities:
    print('hello')
    print(city)

hello
Vilnius
hello
Kaunas
hello
London

In [127]:
for city in cities:
        print(f'{city} is a beautiful city!')

Vilnius is a beautiful city!
Kaunas is a beautiful city!
London is a beautiful city!

In [129]:
for number in range(3,55,4):
    print(f'{number}^2 = {number**2}')

3^2 = 9
7^2 = 49
11^2 = 121
15^2 = 225
19^2 = 361
23^2 = 529
27^2 = 729
31^2 = 961
35^2 = 1225
39^2 = 1521
43^2 = 1849
47^2 = 2209
51^2 = 2601