In [ ]:
#string

In [5]:
print('1972'.isdigit())
print('1972 '.isdigit()) #space added, not numnber
print(' 1972 '.strip())
print(' 1972 '.strip().isdigit())

True
False
1972
True

In [ ]:
#string operations

In [6]:
'Jone' + ' ' + 'says hello'

'Jone says hello'

In [8]:
'hi ' * 10

'hi hi hi hi hi hi hi hi hi hi '

In [ ]:
#string formatting.f-string

In [16]:
name = 'Jone'
surname = 'Bagdone'
number = 42

print( name + ' ' + surname + ', ' + 'nice to meet you. Your number is ' + str(number))

#fstring
print( f'{name} {surname}' )
print( f'{name} {surname}, nice to meet you! Your number is {number}' )
print( f'{name    }   {surname}, nice to meet you! Your number is {number+4}' )

Jone Bagdone, nice to meet you. Your number is 42
Jone Bagdone
Jone Bagdone, nice to meet you! Your number is 42
Jone   Bagdone, nice to meet you! Your number is 46

In [26]:
#tasks
print(name + ' ' + surname)
print(name + " " + surname)
print(name, surname)

text_1 = 'Python makes me realy really happy!'
print(text_1.upper())
print(text_1.replace('tho','ThO'))

text_2 = 'Hello World, I am happy to learn Python!'
word_to_find = 'happy'
print(text_2.find(word_to_find))

print(len(text_2))

Jone Bagdone
Jone Bagdone
Jone Bagdone
PYTHON MAKES ME REALY REALLY HAPPY!
PyThOn makes me realy really happy!
18
40

In [ ]:
#numbers

In [27]:
int_1 = 1
float_1 = 1.0
float_2 = 1.
number_symbol = '1'
print(type(number_symbol))
print(type(int_1))
print(type(float_1))
print(type(float_2))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'float'>

In [ ]:
#operations

In [34]:
print(5+10)
print(5-41)
print(5*10)
print(5/10)


print( 2**2 )
print(2**3)
print(2**5) #5 laipsniu pakelta

print(15//10) #floor division
print(25//10)

#modulus division if we can make a division by that number
print(15%10)
print(25%10)

15
-36
50
0.5
4
8
32
1
2
5
5

In [37]:
my_sum = 0
my_sum = my_sum + 5.4
my_sum = my_sum + 3.0
print(my_sum)

my_sum = 0
my_sum +=5.4
my_sum +=1
print(my_sum)


multiplication = 1
multiplication *=10
multiplication *=0.5
print(multiplication)

8.4
6.4
5.0

In [52]:
#tasks

#1
int_2 = 2
int_3 = 3
print(int_2+int_3)
print(int_2-int_3)
print(int_2%int_3)

#2
float_3 = 5.6
float_4 = 6.0
print(float_3/float_4)

#3
distance_to_moon = 384_000
distance_to_sun = 150_000_000
print(distance_to_sun/distance_to_moon)
print(f'distance to the Sun is {distance_to_sun//distance_to_moon} greater than to the Moon')

driving_speed = 150
print(distance_to_moon/driving_speed) #hours
day = driving_speed * 24
month = day *30
year = month *12
minutes = driving_speed / 60 
seconds = minutes / 60 
print (distance_to_moon/driving_speed)
print (distance_to_moon/day)
print (distance_to_moon/month)
print (distance_to_moon/year)
print (distance_to_moon/minutes)
print (distance_to_moon/seconds)

#how many days since birthday
(2023-1989)*365

5
-1
2
0.9333333333333332
390.625
distance to the Sun is 390 greater than to the Moon
2560.0
2560.0
106.66666666666667
3.5555555555555554
0.2962962962962963
153600.0
9216000.0

12410

In [55]:
from datetime import date

d0 = date(1989,6,14)
d1 = date.today()
print(d0)
print(d1)
delta = d1-d0
print(delta.days)

1989-06-14
2023-02-27
12311

In [ ]:
#boolean

In [60]:
bool_true = True
print(bool_true)
print(type(bool_true))

bool_false = False
print(bool_false)

print(int(bool_true))
print(int(bool_false))

True
<class 'bool'>
False
1
0

In [63]:
print(bool(1))
print(bool(2))
print(bool(0.00005))
print(bool(-40))
print(bool(0)) #only possible way to het False from a number and empty''
print(bool('Hello'))

True
True
True
True
False
True

In [70]:
print( 2>5 )
print(5>2)
print(5>=2)
print('>=')


print(2 ==1)
print(2 ==2) #== is comparison, = is aasignment

print (2!=3) #not equal

False
True
True
>=
False
True
True

In [86]:
text_3 = 'Hello world'
bool_1 = 'H' in text_3
print(bool_1)
print('D' in text_3) #nes ne didzioji
print(text_3.islower())
print(text_3.lower())
print(text_3.lower().islower())
print('h' in text_3.lower())

True
False
False
hello world
True
True

In [90]:
#not

print(not True)
print(not False)
print(not not False)

False
True
False

In [94]:
#and or

a = 2
b= 5
c = -10
print(a < b and b>c)
print(a > b and b>c)
print(a > b and b<c)

print(a > b or b>c)

True
False
False
True

In [109]:
#tasks
#5 ways to get True value

a = 2
b= 5
c = -10
print(a < b and b>c)
print(a > b or b>c)
print(not False)
text_3 = 'Hello world'
bool_1 = 'H' in text_3
print(bool_1)
print(2 ==2)

#5ways to get False value
a = 2
b= 5
c = -10
print(a < b and b<c)
print(a > b or b<c)
print(not True)
text_3 = 'Hello world'
bool_1 = 'E' in text_3
print(bool_1)
print(2 ==3)

#using int type
print(2 ==3)
text_3 = 'Hello world'
bool_1 = 'E' in text_3
print(bool_1)
print('a' in 'auto')
print(bool('oo'))

True
True
True
True
True
False
False
False
False
False
False
False
True
True

In [115]:
#list (number of items)
cities = ['Vilnius', 'Kaunas', 'London']
print(cities)
print(type(cities))
print(cities[0])
print(type(cities[0]))

print(cities[1:])
print(cities[:2])

['Vilnius', 'Kaunas', 'London']
<class 'list'>
Vilnius
<class 'str'>
['Kaunas', 'London']
['Vilnius', 'Kaunas']

In [120]:
numbers = [1,654,7,6987,7,'87',False]
print(len(numbers))
print(type(numbers[0]))
print(type(numbers[-1]))
print(type(numbers[-2]))

7
<class 'int'>
<class 'bool'>
<class 'str'>

In [122]:
numbers = [14,786,7]
print(numbers)
numbers.append(500)
print(numbers)

[14, 786, 7]
[14, 786, 7, 500]