In [ ]:
#if statement

In [3]:
age = int(input("Enter your age"))
print(age)

if age >= 18:
    print(f'You are above 18 years old')

19
You are above 18 years old

In [5]:
age = int(input("Enter your age"))
print(age)

#order of if statements are important

if age >= 18:
    print(f'You are above 18 years old')
elif age >= 12:
    print('You are between 12 and 18 year old')
elif age >= 8:
    print('You are between 8 and 12 year old') #tikrina eiles tvarka
else:
    print(f'You are under 18 years old')

15
You are between 12 and 18 year old

In [8]:
number = int(input("Enter a number"))
#print(number)

if number % 3 == 0:
    print(f'{number} is dividable by 3')
else:
    print(f'{number} is not dividable by 3')

16
16 is not dividable by 3

In [17]:
#tasks
#for loop

#print  the first 20 numbers which are divisible by 3 withiuyt a remainder using for loop and if

for i in range(1,21):
    if i % 3 == 0:
        print (i)
    if i > 10:
        break


#get the amount of the first 50 digits inclusive only if the new current amount is even
current_amount = 0
for i in range (1,51):
        if(current_amount+i)%2==0:
            current_amount +=i
            print(current_amount)


#let select a number, print its product from 1 to 10 only if the selected number squarred is odd

3
6
9
2
6
12
20
30
42
56
72
90
110
132
156
182
210
240
272
306
342
380
420
462
506
552
600
650

In [24]:
#get all possible combinations from these lists only if the day is either Monday ir Wednesday.

days = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday' , 'Sunday')
hours = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

combination =[]

for day in days:
    if day in['Monday','Wednesday']:
        for hour in hours:
        #print(day, hour)
            if hour in range(12,18):
                combination.append((day,hour))

print(combination)

[('Monday', 12), ('Monday', 13), ('Monday', 14), ('Monday', 15), ('Monday', 16), ('Monday', 17), ('Wednesday', 12), ('Wednesday', 13), ('Wednesday', 14), ('Wednesday', 15), ('Wednesday', 16), ('Wednesday', 17)]

In [25]:
#none declaration aka null, nill, NaN

nothing = None
print(nothing)
print(type(nothing))

None
<class 'NoneType'>

In [27]:
import random

name = None

if random.random()>0.5:
    name = input('Enter your name:')

if name is not None and name != '':
    print(f'Hello {name}')
elif name is not None and name =='':
    print(f'We cound\'t read your name. Please try again')
else:
    print('we didn\'t ask for the name')

Hello jone

In [28]:
#Dictionary

me ={
    'name': 'Jone',
    'surname': 'Bagdone',
    'hobbies': ['powerlifting', 'reading'],
    'age': 20
}

print(me)

{'name': 'Jone', 'surname': 'Bagdone', 'hobbies': ['powerlifting', 'reading'], 'age': 20}

In [32]:
print(me['name'])
print(me['hobbies'])

Jone
['powerlifting', 'reading']

In [34]:
me['country']= 'Lithuania'
print(me)

{'name': 'Jone', 'surname': 'Bagdone', 'hobbies': ['powerlifting', 'reading'], 'age': 20, 'country': 'Lithuania'}

In [37]:
strange_dict = {
    True: 'True value',
    False: 'False value',
    None: 'None value',
    2: 'Number 2'
}
print(strange_dict[True])
print(strange_dict[False])
print(strange_dict[2])

True value
False value
Number 2

In [41]:
people = [
     {'name': 'John', 'age':30},
     {'name':'Ben', 'age': 28}
]

print(people)
print(people[0])
print(people[0]['name'])

for person in people:
    print(f"your name is {person['name']} and your age is {person['age']}")

[{'name': 'John', 'age': 30}, {'name': 'Ben', 'age': 28}]
{'name': 'John', 'age': 30}
John
your name is John and your age is 30
your name is Ben and your age is 28

In [42]:
print(me)
print(len(me))

{'name': 'Jone', 'surname': 'Bagdone', 'hobbies': ['powerlifting', 'reading'], 'age': 20, 'country': 'Lithuania'}
5

In [ ]:
#deleting pairs

In [46]:
me ={
    'name': 'Jone',
    'surname': 'Bagdone',
    'hobbies': ['powerlifting', 'reading'],
    'age': 20
}

print(me)
print(me.pop('age'))
print(me)
del me['hobbies']
print(me)

{'name': 'Jone', 'surname': 'Bagdone', 'hobbies': ['powerlifting', 'reading'], 'age': 20}
20
{'name': 'Jone', 'surname': 'Bagdone', 'hobbies': ['powerlifting', 'reading']}
{'name': 'Jone', 'surname': 'Bagdone'}

In [47]:
#dict methods

me ={
    'name': 'Jone',
    'surname': 'Bagdone',
    'hobbies': ['powerlifting', 'reading'],
    'age': 20
}
print(me.popitem())
print(me)

('age', 20)
{'name': 'Jone', 'surname': 'Bagdone', 'hobbies': ['powerlifting', 'reading']}

In [50]:
me ={
    'name': 'Jone',
    'surname': 'Bagdone',
    'hobbies': ['powerlifting', 'reading'],
    'age': 20
}
print(me.get('not_exist'))
print(me.get('surname'))
print(me.get('not exist', 0))

None
Bagdone
0

In [51]:
me ={
    'name': 'Jone',
    'surname': 'Bagdone',
    'hobbies': ['powerlifting', 'reading'],
    'age': 20
}
me ['age']=28
print(me)
update_dict = {'hobbies': ['tennis', 'bicycle'], 'age': 27, 'city': 'Vilnius'}
me.update(update_dict)
print(me)

{'name': 'Jone', 'surname': 'Bagdone', 'hobbies': ['powerlifting', 'reading'], 'age': 28}
{'name': 'Jone', 'surname': 'Bagdone', 'hobbies': ['tennis', 'bicycle'], 'age': 27, 'city': 'Vilnius'}

In [53]:
print(me.keys())

for key in me.keys():
    print(key)

dict_keys(['name', 'surname', 'hobbies', 'age', 'city'])
name
surname
hobbies
age
city

In [54]:
for val in me.values():
    print(val)

Jone
Bagdone
['tennis', 'bicycle']
27
Vilnius

In [55]:
for key, val in me.items():
    print(f'key is {key} with a value of {val}')

key is name with a value of Jone
key is surname with a value of Bagdone
key is hobbies with a value of ['tennis', 'bicycle']
key is age with a value of 27
key is city with a value of Vilnius

In [ ]:
print(twitter_post[user].get('friends_count'))